<%- include ('./partials/head.ejs') %>
<div class="top_nav">
    <a href="/" class="active"><b>Home</b></a>
    <a href="/about"><b>About</b></a>
</div>
<br /><br />
    <form action="/analyze_report" method="POST" enctype="multipart/form-data">
        <div>
            <label for="ini">ini file: </label>
            <input type="file" name="iniFile" accept=".txt" />
            <br /><br />
            <label>bkmvdata file: </label>
            <input type="file" name="bkmvFile" accept=".txt" /><br /><br />
        </div>
        <div>
            <input type="submit" value="Submit" name="btn_upload">
        </div>
    </form>
</body>
</html>