<%- include ('./partials/head.ejs') %>
    <form action="/analyze_report/" method="post" enctype="multipart/form-data">
        <div>
            <label for="ini">ini file: </label>
            <input type="file" name="ini" id="ini">
            <br /><br />
            <label>bkmvdata file: </label>
            <input type="file" name="bkmv" id="bkmv">
        </div>
        <div>
            <input type="submit" value="OK" name="btn_upload">
        </div>
    </form>
</body>
</html>